@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
body {
  margin: 0;
  font-family: "Fraunces", serif;
  font-size: 14px;
  font-weight: 700;
  background-color: hsl(30deg, 38%, 92%);
}

/*  Main    */
main {
  margin-top: 175px;
}
@media screen and (max-width: 640px) {
  main {
    margin-top: 28px;
  }
}

/*  ProductCard */
.productCard {
  margin: 0 auto;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
}
@media screen and (max-width: 640px) {
  .productCard {
    width: 343px;
  }
}

.productCard__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 640px) {
  .productCard__wrap {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.productCard__image {
  width: 300px;
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 640px) {
  .productCard__image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
}

.productCard__info {
  padding: 31px 32px;
}
@media screen and (max-width: 640px) {
  .productCard__info {
    padding: 23px 24px;
  }
}

.productCard__category {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  color: hsl(228deg, 12%, 48%);
}

.productCard__title {
  margin-top: 19px;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 0;
}
@media screen and (max-width: 640px) {
  .productCard__title {
    margin-top: 11px;
  }
}

.productCard__desc {
  margin-top: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.65;
  font-weight: 500;
  color: hsl(228deg, 12%, 48%);
}
@media screen and (max-width: 640px) {
  .productCard__desc {
    margin-top: 15px;
  }
}

.productCard__priceBlock {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
@media screen and (max-width: 640px) {
  .productCard__priceBlock {
    margin-top: 20px;
  }
}

.productCard__currPrice {
  color: hsl(158deg, 36%, 37%);
  display: inline-block;
  font-size: 32px;
  margin-right: 20px;
}

.productCard__prevPrice {
  text-decoration: line-through;
  display: inline-block;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228deg, 12%, 48%);
}

.productCard__addToCartButton {
  margin-top: 26px;
}
@media screen and (max-width: 640px) {
  .productCard__addToCartButton {
    margin-top: 17px;
  }
}

/*  Button  */
.button {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: hsl(158deg, 36%, 37%);
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.button--purchase {
  padding-left: 40px;
  position: relative;
}
.button--purchase:before {
  position: absolute;
  content: " ";
  width: 15px;
  height: 16px;
  left: 63px;
  background: url("../images/icon-cart.svg") no-repeat;
}
@media screen and (max-width: 640px) {
  .button--purchase:before {
    left: 94px;
  }
}
.button--purchase:focus, .button--purchase:hover {
  background-color: hsl(158deg, 36%, 24%);
}

/* Footer   */
footer {
  margin-top: 10px;
  margin-bottom: 30px;
}

.attribution {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.attribution__p {
  margin: 0;
}

.attribution__link {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 4px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 6px;
}
.attribution__link:hover {
  color: #7b879d;
}
.attribution__link:active {
  color: hsl(225deg, 100%, 94%);
}

@media screen and (max-width: 640px) {
  .attribution {
    flex-wrap: wrap;
  }
  .attribution__p {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */