$mobile-size: 375px;
$accent: #7b879d;
$primary: hsl(225, 100%, 94%);
$primaryCyan: hsl(158, 36%, 37%);
$primaryCyanDark: hsl(158, 36%, 24%);
$primaryCream: hsl(30, 38%, 92%);
$neutralDarkBlue: hsl(212, 21%, 14%);
$neutralGrayishBlue: hsl(228, 12%, 48%);